* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: grey;
}

header, section, footer {
    width: 100%;
}

header {
    background-color: black;
}


/* NOTE: header */

.wrapper-top {
    width: 1045px;
    height: 40px;
    margin: 0 auto;
}

.box-logo {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 7px;
    font-weight: 400;
}

.box-logo span {
    color: rgb(36, 186, 159);
    font-weight: 700;
}

.nav {
    float: right;
    position: relative;
}

.nav-list {
    display: inline-block;
    padding: 10px 15px 0px 15px;
    color: white;
    font-weight: 700;
}

.nav-list2 {
    position: absolute;
    display: none;
    color: white;
    width: 120px;
    height: 115px;
    background-color: black;
    margin: 20px 0 0 -20px;
    font-weight: 400;
}

.spark {
    position: absolute;
    background-color: black;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    margin: -102px 0px 0px 50px;
}

.nav-listonlist {
    list-style: none;
    display: block;
    padding: 13px 0 0 16px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.row {
    clear: both;
    display: block;
    content: "";
}

.section1 {     /* NOTE: SECTION ONE */
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 1) 23%, rgba(240, 236, 235, 1) 76%, rgba(209, 208, 216, 1) 100%);
}

.bigdiv {
    height: 100%;
    width: 1035px; //1160
    margin-left: 240px;
    //margin: 0 auto;
}

.left-click {
    height: 100%;
    width: 50px; //60
    font-size: 90px;
    float: left;

}

.left-click>p {
    padding: 200px 0px;
    color: rgb(36, 186, 159);
}
.left-click>p:hover {
    padding: 200px 8px;
    transform: scale3d(2, 2, 2);
}

.black-chair {
    background-image: url("../images/black_chair.png");
    width: 425px; //460
    height: 100%;
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: 50% 85%;
    float: left;
}

.txt-black-chair {
    width: 500px; //578
    height: 100%;
    float: left;
}

.txt {
    width: 100%;
    height: 220px;
}

.txt p:first-child {
    font-size: 40px;
    font-weight: 500;
    padding: 32% 14%;
}

.txt-black-chair span:first-child, span:last-child {
    color: rgb(36, 186, 159);
    font-weight: 700;
}

.txt-black-chair p:nth-child(2) {
    font-size: 18px;
    text-align: center;
    padding: 5% 5%;
}

.button {
    width: 300px;
    background-color: rgb(36, 186, 159);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 55px 10px 55px;
    margin: 0 22%;
    display: inline-block;
    font-size: 18px;
}
.button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(36, 186, 159);
}

.right-click {
    height: 100%;
    width: 50px;//60
    font-size: 90px;
    float: right;
}

.right-click>p {
    padding: 200px 5px;
    color: rgb(36, 186, 159);
}
.right-click>p:hover {
    padding: 200px 8px;
    transform: scale3d(2, 2, 2);
}


/* NOTE: THE END OF SECTION ONE */


/* NOTE: START SECTION TWO */

.section2 {
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
}

.div-images {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.chair-clair, .margarita, .lorem {
    width: 28%;
    height: 70%;
    float: left;
    margin: 25px -30px 0px 60px;
    border: 1px solid rgb(148, 148, 148);
}

.chair-clair {
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.chair-clair:hover, .margarita:hover, .lorem:hover {
    transform: scale(1.5,1.5);
}
.lorem:hover {
    background-color: rgb(255, 255, 255);
  }

.note {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 70px;
    margin: 50% 0%;
}

.note>.green-line {
    margin: -4% 5%;
}

#note-clair, #note-margarita {
    font-weight: 700;
    padding: 5% 5%;
}

.margarita {
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.note2 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 70px;
    margin: 50% 0%;
}

.note2>.green-line {
    margin: -4% 5%;
}

.lorem {
    height: 80%;
}

#titlenote {
    font-weight: 700;
    padding: 5% 5%;
}

.note3>.green-line {
    margin: -4% 5%;
}

.green-line {
    /* NOTE: green line */
    height: 8px;
    width: 145px;
    background-color: rgb(36, 186, 159);
}

.lorem-note>p {
    font-size: 14px;
}

.lorem-note p:first-child {
    padding: 10% 5%;
    line-height: 20px;
}

.lorem-note p:nth-child(2) {
    padding: 0% 5%;
    line-height: 20px;
}

.section3 {
    width: 100%;
    height: 700px;
    background-color: rgb(241, 241, 241);
}

.cennik {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.item-cennik {
  width: 100%;
  height: 130px;
}

.green-line2 {
  height: 8px;
  width: 320px;
  background-color: rgb(36, 186, 159);
  border: rgb(36, 186, 159);
  margin: -40px 5%;
}

.item-cennik p {
  font-size: 25px;
  color: rgb(91, 91, 91); /* NOTE: poprawic */
  font-weight: 600;
  padding: 45px 58px;
}

.rectangle {
  height: 450px;
  width: 28%;
  background-color: rgb(249, 249, 249);
  border: 2px solid rgb(214, 214, 214);
  float: left;
  margin: 30px -30px 0px 60px;
  position: relative;
}

.middle-rectangle {
  background-color: rgb(36, 186, 159);
  border: 2px solid rgb(36, 186, 159);
}

.small-circle {                                 /* NOTE: KOLA */
  position: absolute;
  width: 62px;
  height: 60px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
  margin: -43px 130px;
}
.middle-small-circle {                                 /* NOTE: KOLA */
  border: 2px solid rgb(36, 186, 159);
  background-color: rgb(36, 186, 159);
}

.smaller-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(194, 194, 194);
  top: 13px;
  right: 14px;
}
.middle-smaller-circle {
  background-color: rgb(245, 245, 245);
}

.center-circle {
  position: absolute;
  margin: -5% 31%;
  height: 120px;
  width: 120px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 50%;
  background-color: rgb(255, 255, 255)
}
.middle-center-circle {
  border: 2px solid rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
}

.rectangle > .basic {                      /* NOTE: NADKOLA */
  margin: 10% 31%;
}

.rectangle > .basic1 {
  margin: 10% 24%;
}

.rectangle > .basic2 {
  margin: 10% 26%;
}

.basic, .basic1, .basic2 {
  font-size: 20px;
  font-weight: 600;
}

.basic, .basic2 {
  color: rgb(36, 186, 159);
}
.basic1 {
  color: rgb(245, 245, 245);
}
.center-circle p:first-child {                  /* NOTE: KOŁA */
  position: absolute;
  font-size: 45px;
  font-weight: 700;
  color: rgb(194, 194, 194);
  margin: 21% 25%;
}
.middle-center-circle p:first-child {
  color: rgb(36, 186, 159);
}

.center-circle p:nth-child(2) {
  position: absolute;
  margin: 20% 70%;
  font-size: 18px;
  color: rgb(194, 194, 194);
  font-weight: 700;
}

.middle-center-circle p:nth-child(2) {
  color: rgb(36, 186, 159);
}

.center-circle p:last-child {
  position: absolute;
  margin: 67% 18%;
  font-size: 16px;
  color: rgb(194, 194, 194);
  font-weight: 700;
}

.middle-center-circle p:last-child {
  color: rgb(36, 186, 159);
}

.special p:first-child {                  /* NOTE: SPECJALNIE DLA 211PLN -.- */
  position: absolute;
  font-size: 45px;
  font-weight: 700;
  color: rgb(194, 194, 194);
  margin: 21% 10%;
}
.first, .second, .third {
  height: 20px;
  text-align: center;
}

.list {
  list-style-type: none;
  position: absolute;
  margin: 45% 0;
  height: 50px;
  width: 100%;
  font-size: 22px;
}
.first li:first-child {
  height: 35px;
  border: 0 solid black;
  background-color: rgb(228, 228, 228);
  color: rgb(113, 113, 113);
}
.first li:last-child {
  height: 35px;
  border: 0 solid black;
  background-color: rgb(241, 241, 241);
  color: rgb(117, 117, 117);
}
.second li:nth-child(2n+2) {
  height: 35px;
  border: 0 solid black;
  background-color: rgb(241, 241, 241);
  color: rgb(113, 113, 113);
}
.second li:nth-child(2n+1) {
  height: 35px;
  border: 0 solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
}
.third li:nth-child(2n+1) {
  height: 35px;
  border: 0 solid black;
  background-color: rgb(228, 228, 228);
  color: rgb(113, 113, 113);

}
.third li:nth-child(2n+2) {
  height: 35px;
  border: 0 solid black;
  background-color: rgb(241, 241, 241);
  color: rgb(117, 117, 117);
}
.button1, .button3 {
  position: absolute;
  margin: 96% 28%;
  padding: 2% 12%;
  border-radius: 6px;
  background-color: rgb(36, 186, 159);
  color: rgb(255, 255, 255);
  border: 0;
  font-weight: 500;
}
.button1:hover, .button3:hover, .button2:hover {
  transform: scale(1.3, 1.3);
}
.button2 {
  position: absolute;
  margin: 96% 28%;
  padding: 2% 12%;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 186, 159);
  border: none;
  font-weight: 500;
}
/* NOTE: FORMULARZ */

.section4 {
  width: 100%;
  height: 590px;
  background-color: rgb(255, 255, 255);
}
.kontakt {
  width: 1160px;
  height: 100%;
  margin: 0 auto;
}
.item-kontakt {
  width: 100%;
  height: 15%;
}
.item-kontakt p {
  font-size: 25px;
  color: rgb(91, 91, 91);
  font-weight: 600;
  padding: 25px 55px;
}
.last-hanger {
  margin: -18px 55px;
}

.user {
  width: 65%;
  height: 85%;
  float: left;

}
.red-chair {
  width: 35%;
  height: 85%;
  float: left;
}
.red-chair-item {
  width: 280px;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/red_chair.png");
  margin: 2% 15%;
}
input, textarea {
  display: block;
  width: 81%;
  height: 55px;
  padding: 5px;
  margin: 43px 53px;
  border: 1px solid rgb(164, 225, 209);
  font-size: 20px;
}
textarea {
height: 10%;
}
.btn-submit {
    background-color: rgb(36, 186, 159);
    border-radius: 5px;
    border: none;
    color: white;
    margin: 11% 10%;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

.btn-submit:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(36, 186, 159);
}

.checkbox1 { /* NOTE: CHECKBOX */
  margin: 10px 40px;
  border: 1px solid rgb(36, 186, 159);
  width: 13%;
  height: 50px;
  padding: 4px 0px;
  float: left;
}

.checkbox1 p {
  color: rgb(200, 200, 200);
  margin: -85% 70px;
  width: 280px;
  height: 50px;
  font-size: 18px;
}
.footer-down {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
.footer-div {
  height: 100%;
  width: 1160px;
  margin: 0 auto;
}

#copyright-div {
  width: 50%;
  height: 16px;
  margin: 20px 55px;
  float: left;
  color: rgb(154, 154, 154);
  font-size: 12px;
  font-weight: 600;
}

.footer-last-div {
  float: left;
  width: 330px;
  margin: 0% 790px;
  position: absolute;
}

.footer-last-div ul li{
  list-style: none;
  display: inline-block;
  float: left;
}

.footer-last-div p {
  float: right;
  font-size: 22px;
  padding: 10px 0;
  color: rgb(154, 154, 154);
}
.footer-last-div span:first-child {
  font-weight: 700;
  color: rgb(154, 154, 154);
}

// NOTE: KABUM

.application {
  background-color: #f9f9f9;
  padding:30px 0;
}

.main_width {
  width: 1160px;
  height: 400px;
    margin-left: 15%;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header2.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
    margin-right: 68px;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 2px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  //display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 12px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}
.show {
   display: block;
 }

.hide {
  display: none;
}
